@charset "utf-8";
/*css重置*/
body {color:#333; background:#FFF; font-family: Verdana, Arial, sans-serif; font-size: 12px; }
body, ul, ol, li, p, h1, h2, h3, h4, h5, h6, form, fieldset, table, td, img, div, tr {margin:0 auto; padding:0;}
input, select {font-size:12px; vertical-align:middle;}
textarea, input {word-wrap:break-word; word-break:break-all; padding:0px;}
li {list-style-type:none;}
img {border:0 none;}
a {color:#000; text-decoration:none;}
a:hover {color:#628828;}
a {outline:none; star:expression_r(this.onFocus=this.blur());}
h1 { font-size:24px; }
h2 { font-size:20px; }
h3 { font-size:18px; }
h4 { font-size:16px; }
h5 { font-size:14px; }
h6 { font-size:12px; }
.absolute { position:absolute; }
.relative { position:relative; }
.o-hidden { overflow:hidden; }
.hidden { display:none; }
.block { display:block; }
.clear:after{ clear:both; height:0px; width:100%; font-size:1px; line-height:0px; visibility:hidden; overflow:hidden; }
body{font-size: 12px;font-family: "微软雅黑";}


