footer{
	width: 100%;
	height: auto;
    background: #202020;
    color: gray;
}
.footer_1{
   width: 80%;
   margin:0 auto;
   display: flex;
   align-content:space-around;

}
.footer_1 .left{
    width: 30%;
}
.footer_1 .center{
    width: 30%;
}
.footer_1 .right {
   width: 30%;
}
.left p span,.center p span,.right p span{
     font-size: 1.4rem;
     padding-bottom: 0.5rem;
     border-bottom: 2px solid red;
}
.left p,.center p,.right p{
	margin-top: 1rem;
	line-height: 1.4rem;
	padding-bottom: 0.5rem;
	border-bottom: 1px solid gray;
}
.center,.right{
	margin-left:5%;
}
.left ul li{
	margin-top: 5%;
}
.left ul li,.right ul li{
    line-height: 1.75rem;
    height: 5.75rem;
    border-bottom: 1px dashed black;
}
.left ul li:hover{
	transition: all border-left-color 0.5s ease-in;
	color: #f4645f;
}
.center span{
	display: inline-block;
	padding: 0.1em 0.3em;
	border:0.5px solid gray;
	margin:0.2rem;
	color: gray;
}
.center p span:first-child{
	border: none;
	font-size: 1.4rem;
     padding-bottom: 0.5rem;
     border-bottom: 2px solid red;
}
.center span:hover{
	cursor: pointer;
	transition: all border-left-color 0.5s ease-in;
    background:  #f4645f;
    color:white;
}
.right span{
	display: inline-block;
	padding: 0.1em 0.3em;
	margin:0.2rem;
	color: gray;
}
.right span:hover{
	cursor: pointer;
	transition: all border-left-color 0.5s ease-in;
    background:  #f4645f;
    color:white;
}
.bottom{
	line-height: 3rem;
	text-align: center;
	background: black;
	color: darkgray;
}
@media screen  and (max-width: 55em) {
	.footer_1{
		display: flex;
		flex-wrap: wrap;
	}
.footer_1 .left{
	margin-left:0%;
    width: 100%;
}
.footer_1 .center{
	margin-left:0%;
    width: 100%;
}
.footer_1 .right {
	margin-left:0%;
    width: 100%;
}
}