nav{
	width: 100%;
}
#btn_1{
	display: none;
}
.nav_h1{
	font-size: 3em;
   text-align: center;
   display: none;
}
.nav_ul{
    width: 80%;
    display: flex;
    margin:0 auto;
    position: relative;
}
.nav_ul li{
	text-align: center;
	line-height: 3em;
	flex:auto;
}
.nav_ul li:first-child{
	border-bottom: 2px solid red;
}

@media screen and (min-width:49.5em) and (max-width:55em ){
	.nav_ul{
		flex-wrap: wrap;
	}
	.nav_ul li:last-child{
	    width: 800%;
	}
}

@media screen and (max-width:49.5em){
	.nav_h1{
		display: block;
	}
	.nav_h1:hover{
		cursor: pointer;
	}
	.nav_ul{
	   flex-direction: column;
	   display: none;
    }
    .nav_ul li{
    	text-align: left;
    }
   #btn_1:checked~.nav_ul{
   	transition: all 0.3s ease-in;
   	display: block;
   }
}
